<%- include("../partials/_header") %>
<body>
    <div>
    <h1>About <%= garden.name %></h1>
    <input type="text" name="owner" id="owner" value="<%= user.username %>" disabled></input>
    <p id="location" name="location">Location: <%= garden.location %></p>
    <p id="description" name="description">Description: <%= garden.description %></p>
    <img src="<%= garden.imageURL %>">
    <div id="navigation">
    <form action="/gardens/edit/<%= user._id %>/<%= garden.id%>">
        <button type="submit">Edit <%= garden.name %></button>
    </form>
    <form action="/gardens/<%= garden._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= garden.name %></button>
    </form>
    <a href="/gardens/<%=user._id%>/<%= garden._id %>/newplant">Add a plant to this garden.</a>
    <div>
        <h1>Plants living in <%= garden.name %></h1>
        <ul>
            <% plants.forEach((plant)=>{ %>
                <li>
                    <a href="/plants/<%= user._id %>/<%= plant._id %>">
                      <%= plant.nickname %>
                    </a>
                  </li>
                  <% }) %>
                </ul>
            </div>
        </div>
    </div>
</body>
<%- include("../partials/footer") %>