<%- include("../partials/_header") %>
    <h1>Welcome to your gardens, <%= user.username %>!</h1>
    <ul>
      <% gardens.forEach((garden)=>{ %>
      <li>
        <a href="/gardens/<%= user._id %>/<%= garden._id %>">
          <%= garden.name %>
        </a>
      </li>
      <% }) %>
    </ul>
<%- include("../partials/footer") %>