<%- include("../partials/_header") %>
    <h1>Here are all your plants, <%= user.username %>!</h1>
    <ul>
      <% plants.forEach((plant)=>{ %>
      <li>
        <a href="/plants/<%= user._id %>/<%= plant._id %>">
          <%= plant.nickname %>
        </a>
      </li>
      <% }) %>
    </ul>
<%- include("../partials/footer") %>