<%- include("../partials/_header") %>
    <h1><%= plant.nickname %></h1>
    <p name="owner" id="owner"> Owner: <%= user.username %></p>
    <p name="species" id="species"> Species: <%= plant.species %></p>
    <p id="description" name="description">Description: <%= plant.description %></p>
    <h4>Plant Care:</h4>
    <p id="plantCare" name="prune">Pruned? <%= plant.needsPrune %></p>
    <p id="plantCare" name="water">Watered? <%= plant.needsWater %></p>
    <p id="plantCare" name="fertilize">Fertilized? <%= plant.needsFertilizer %></p>
    <img src="<%= plant.imageURL %>">
    <div id="navigation">
    <form action="/plants/edit/<%= user._id %>/<%= plant.id%>">
        <button type="submit">Edit <%= plant.name %></button>
    </form>
    <form action="/plants/<%= plant._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= plant.name %></button>
    </form>
</div>
<%- include("../partials/footer") %>